.basic-contact {
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	margin: 3rem 0;
}

.basic-contact > * {
	flex: 1;
}

.contact-heading-text-div {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.contact-heading-text {
	font-size: 56px;
	font-weight: 400;
	font-family: "Google Sans Medium";
	line-height: 1.1;
	text-align: center;
}

.contact-header-detail-text {
	font-size: 20px;
	line-height: 30px;
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
	.contact-heading-text {
		font-size: 50px;
		margin-top: 60px;
	}
}

@media (max-width: 768px) {
	.contact-heading-text {
		font-size: 30px;
		margin-top: 0px;
	}

	.basic-contact {
		flex-direction: column;
		margin: 0;
		gap: 2rem;
	}

	.contact-header-detail-text {
		font-size: 16px;
		margin-left: 0px;
		margin-right: 0px;
		line-height: normal;
		text-align: center;
	}
}
