.experience-card {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

.experience-card-logo-div {
	margin: 10px;
}

.experience-card-body-div {
	width: 100%;
}

.experience-card-header-div {
	display: flex;
	flex-direction: row;
	padding-bottom: 0.3rem;
	margin-right: 2rem;
	border-bottom: 1px solid red;
}

.experience-card-inside-header-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.technologies-section-styles {
	padding: 0 1.3rem;
}

.experience-card-logo {
	width: 70px;
}

.experience-card-title {
	font-family: "Google Sans Regular";
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 7px;
	text-align: left;
}

.experience-card-inside-title {
	font-family: "Google Sans Regular";
	text-align: left;
	margin: 0;
}

.experience-card-company {
	font-family: "Google Sans Regular";
	margin: 0;
	text-align: left;
}

.experience-card-heading-left {
	float: left;
	margin-left: 10px;
	margin-right: auto;
}

.experience-card-heading-right {
	float: right;
	margin-left: auto;
	margin-right: 0.7rem;
}

.experience-card-heading-right:has(.experience-card-location) {
	margin-right: 0;
}

.experience-card-description {
	margin: 0rem 0.9rem 1rem 0;
	padding-right: 0.5rem;
	text-align: justify;
	font-family: "Google Sans Regular";
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.experience-card-description-list {
	padding-right: 1.5rem;
	margin: 0.3rem 0;
}

.experience-card-description-simple-list {
	padding-top: 1rem;
	padding-right: 1.5rem;
	margin: 0.3rem 0;
}

.experience-card-company > a {
	position: relative;
	color: #8c8c8c;
	text-decoration: none;
}

.experience-card-company > a:hover {
	color: #8c8c8c;
}

.experience-card-company > a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.experience-card-company > a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #8c8c8c;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 1024px) {
	.experience-card {
		flex-direction: column;
	}

	.experience-card-logo-div {
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 5rem;
	}

	.experience-card-logo-div svg {
		max-height: 50px;
	}

	.experience-heading-sub-text {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.experience-card {
		margin-bottom: 10px;
		text-align: center;
	}

	.experience-card-logo {
		width: 100px;
	}

	.experience-card-inside-title {
		display: flex;
		align-items: flex-start;
	}

	.experience-card-heading-right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.experience-card-title,
	.experience-card-duration {
		text-align: center;
	}

	.experience-card-header-div {
		flex-direction: column;
	}

	.experience-card-description {
		text-align: justify;
	}
}
